.login-body {
  position: absolute;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #d2d6de none repeat scroll 0 0;
}

.login-box {
  padding: 5%;
  width: 50%;
  height: 50;
  margin-top: 15%;
  margin-left: auto;
  margin-right: auto;
  background: #fff none repeat scroll 0 0;
}

.signin-footer {
  color:#337ab7;
}
